.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.order-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
}

.order-card {
  flex: 1;
  max-width: calc(50% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
}

.order-card-heading {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.order-card-details {
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.order-card-total {
  margin-top: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#order-notes {
  width: 95%;
  height: 100px;
  margin-top: 10px;
  padding: 5px;
  resize: none;
}

#submit-order-button{
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

#back-button{
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 260px;
}

#checkout-button{
  background-color: #3e8e41;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

#submit-order-button:hover, #back-button:hover, #checkout-button:hover{
  background-color: #3e8e41;
}
