* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   
  body {
    font-family: Arial, sans-serif;
  }
  
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    z-index: 9999; /* 保证导航栏显示在最上层 */
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
  .page-wrapper {
    padding-top: 30px; /* 导航栏的高度 */
  }

  .menu-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 4rem 2rem 2rem 2rem; /* 修改padding-top为5rem */
  }
  
  .category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .menu-item {
  background-color: #f1f1f1;
  padding: 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  width: 100%;
}
  
  .menu-item:last-child {
    margin-bottom: 0;
  }

  #order-list {
    position: absolute;
    top: 50px;
    right: 20px;
    width: 300px;
    height: 400px;
    overflow-y: auto;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .add-button,
  .remove-button {
    background-color: #3e8e41;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    margin: 0.5rem;
  }
  
  .add-button:hover,
  .remove-button:hover {
    background-color: #2d6d30;
  }

  .order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .order-item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .remove-button {
    margin-left: 1rem;
  }

  .submit-order-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #3e8e41;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
  }
  
  .submit-order-button:hover {
    background-color: #3e8e41;
  }
  
  .submit-order-button:active {
    background-color: #2d6d30;
  }
  
  #back-to-table {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  #back-to-table {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
  }
  
  #back-to-table button {
    background-color: #3e8e41;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  #back-to-table button:hover {
    background-color: #2d6d30;
  }
  